*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight:bold;
  
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Roboto:wght@300&family=Teko:wght@300&display=swap');

body {
  margin: 0;
 background-image:url('background.png') ;
background-repeat: no-repeat;
background-size: 1280px 582px;

  padding: 20px;
  color: #3b5441;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.userInfo,
._loginRegister{
  background-color: #ffffff;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;}

._loginRegister h1{
  text-align: center;
  margin: 0 0 20px 0;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  color: #ffb703;

}

._loginRegister .form-control{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

._loginRegister .form-control label{
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 2px;
  font-size: 24px;
  font-family: 'Teko', sans-serif;
  color: #ffb703;

}

[type="text"],
[type="email"],
[type="password"]{
  padding:7px 10px;
  outline: none;
  margin-bottom: 28px;
  font-size: 16px;  
    border: 1px solid rgba(0, 0, 0, .3);
    border-top: none;
    border-right: none;
    border-left: none;

}

[type="text"]:hover,
[type="text"]:focus,
[type="email"]:hover,
[type="email"]:focus,
[type="password"]:hover,
[type="password"]:focus
{
  border-color: #107a8b;
}

._navBtn button,
[type="submit"]{
  background: #ffb703;
  width: 80px;
  color: #000000;
  font-weight: bolder;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 22px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: none;
}
._navBtn button:hover,
[type="submit"]:hover{
  opacity: .9;
}

._navBtn{
  margin-top: 5px;
}
._navBtn button{
  background: #555555;
  color: #ffffff;
  width: 100%;
  
}

.success-msg,
.error-msg{
  border: 1px solid #ff304f;
  padding: 10px;
  color: #ff304f;
  font-weight: bold;
  border-radius: 2px;
}

.success-msg{
  color: #24b273;
  border-color: #24b273;
}

.userInfo{
  text-align: center;
}

.userInfo ._img{
  font-size: 50px;
}
.userInfo h1{
  text-transform: capitalize;
  margin: 10px 0;
}
.userInfo ._email{
  margin: 10px 0;
  color: #555555;
}
.userInfo button{
  margin-top: 5px;
  background: #f7b103;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid ;
  outline: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: .3s;
}
.userInfo button:hover{
  border-color: #000000;
    color: #ffffff;
    background: #000000;
}